* {
  font-family: sans-serif;
  margin: 0;
}
.loginPage {
  display: flex;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  border-radius: 10%;
  background: rgb(0, 89, 255);
  padding: 5vw;
}
.loginLabel {
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
  color: white;
  margin: 1vw 0;
}
.loginUser, .loginPassword {
  padding: 1vw;
  border: none;
  font-size: 1.5vw;
  transition: outline 200ms ease;
}
.loginUser:focus, .loginPassword:focus {
  outline: .4vw solid rgb(0, 153, 255);
}
.loginSubmitBtn {
  margin-top: 3vw;
  margin-left: auto;
  width: fit-content;
  padding: 1vw 1.5vw;
  font-size: 1.5vw;
  font-weight: 700;
  border: none;
  border-radius: 10%;
  background: rgb(12, 99, 12);
  color: white;
}
.loginSubmitBtn:hover {
  background: rgb(4, 187, 4);
}
.users {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.userInfo {
  color: royalblue;
  font-weight: 900;
  font-size: 2vw;
  padding: 1vw;
  border-radius: 50%;
  box-shadow: .5vw .5vw .1vw rgb(0, 89, 255);
}
.pageHeader {
  display: flex;
  align-items: center;
  background: rgb(61, 4, 78);
  border-bottom: .6vw solid purple;
}
.pageHeaderText {
  font-size: 3vw;
  font-weight: 700;
  color: rgba(154, 18, 196, 0.979);
  padding: 2vw;
}
.logoutCon {
  display: flex;
  align-items: center;
}
.logoutPic {
  width: 3vw;
}
.navTabsCon {
  display: flex;
  justify-content: space-between;
}
.navTab {
  width: 100%;
  padding-top: 1vw;
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
  color: white;
  background:  rgba(154, 18, 196, 0.979);
  transition: color 300ms ease, background 300ms ease;
}
.navTab:hover, .navTab:focus {
  background:  rgba(182, 21, 231, 0.979);
  color: black;
  cursor: pointer;
}