* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.loginPage {
  display: flex;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  border-radius: 10%;
  background: rgb(0, 89, 255);
  padding: 5vw;
}
.loginLabel {
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
  color: white;
  margin: 1vw 0;
}
.loginUser, .loginPassword {
  padding: 1vw;
  border: none;
  font-size: 1.5vw;
  transition: outline 200ms ease;
}
.loginUser:focus, .loginPassword:focus {
  outline: .4vw solid rgb(0, 153, 255);
}
.loginSubmitBtn {
  margin-top: 3vw;
  margin-left: auto;
  width: fit-content;
  padding: 1vw 1.5vw;
  font-size: 1.5vw;
  font-weight: 700;
  border: none;
  border-radius: 10%;
  background: rgb(12, 99, 12);
  color: white;
}
.loginSubmitBtn:hover {
  background: rgb(4, 187, 4);
}
.users {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.userInfo {
  color: royalblue;
  font-weight: 900;
  font-size: 2vw;
  padding: 1vw;
  border-radius: 50%;
  box-shadow: .5vw .5vw .1vw rgb(0, 89, 255);
}
.pageHeader {
  display: flex;
  align-items: center;
  background: rgb(61, 4, 78);
  border-bottom: .6vw solid purple;
}
.pageHeaderText {
  font-size: 3vw;
  font-weight: 700;
  color: rgba(154, 18, 196, 0.979);
  padding: 2vw;
}
.logoutCon {
  display: flex;
  align-items: center;
}
.logoutPic {
  width: 3vw;
}
.navTabsCon {
  display: flex;
  justify-content: space-between;
}
.navTab {
  position: relative;
  width: 100%;
  padding-top: 1vw;
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
  color: white;
  background:  rgba(154, 18, 196, 0.979);
  transition: color 300ms ease, background 300ms ease;
}
.navTabArrow {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 50%;
  transform: translateY(100%);
  background:  rgba(182, 21, 231, 0.979);
  clip-path: polygon(52% 100%, 0 0, 100% 0);
  opacity: 0;
}
.navTab:hover, .tabClicked {
  background:  rgba(182, 21, 231, 0.979);
  color: black;
  cursor: pointer;
  opacity: 1;
}
.newCustomerCon {
  width: 30%;
  margin: 0 auto;
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  border: 1vw solid blue;
  border-radius: 5%;
  padding: 3vw;
  background: blue;
}
.customerInput {
  padding: 1vw;
  width: 50%;
  
  margin-top: 1vw;
  margin-bottom: .5vw;
}
.customerLabel {
  
  font-size: 2vw;
  font-weight: 600;
  color: whitesmoke;
}
.addCustomerBtn {
  width: fit-content;
  margin-left: auto;
  margin-top: 3vw;
  padding: .5vw 1vw;
  font-size: 1.5vw;
  font-weight: 600;
  background: green;
  color: white;
  border: none;
}
.newCustomerCon div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.error {
  width: fit-content;
  margin: 0 auto;
  background: red;
  color: white;
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
  padding: 1vw;
}
.addedCustomerMessage, .addedWorkOrderMessage, .addedTechnicianMessage {
  width: fit-content;
  margin: 0 auto;
  margin-top: 2vw;
  background: green;
  color: white;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  padding: 1vw;
}
.customerCon {
  width: 50%;
  margin: 0 auto;
  margin-top: 2vw;
  background: blue;
  padding: 3vw;
}
.customerInfo {
  background: white;
  margin: .5vw 0;
  padding: .5vw;
  font-size: 2vw;
  font-weight: 500;
}
.customerDetailsBtn, .customerInfoEditBtn, .selectCustomerBtn, .createWorkOrderBtn, .addTechnicianBtn {
  border: none;
  background: green;
  font-size: 2vw;
  font-weight: 500;
  color: white;
  margin-right: 1vw;
  padding: 1vw;
}
.customerSearchCon {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2vw;
}
.customerSearchInput {
  padding: 2vw;
  width: 100%;
  background: blue;
  color: white;
}
.customerSearchBtn {
  color: white;
  background: url('./searchIcon2.png');
  background-size: cover;
}
.hide {
  display: none;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
.workOrderCon, .newWorkOrder, .newTechnicianCon {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 1vw;
  background: rgb(37, 37, 218);
  padding: 3vw;
}
.workOrderCon div, .newWorkOrder div, .newTechnicianCon div {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
.workOrderCon label, .newWorkOrder label, .newTechnicianCon label{
  color: white;
  font-size: 2vw;
  font-weight: 500;
}
.newWorkOrderDescription {
  width: 50%;
  font-size: 1vw;
  font-weight: 700;
  text-transform: uppercase;
}
.workOrderInfo  {
  width: 50%;
  background: white;
  font-size: 1.5vw;
  font-weight: 800;
  text-align: right;
  text-transform: uppercase;
}
.workOrderSelectCon {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2vw;
}
.userTab {
  position: relative;
}
.workOrderInfoExtraCon {
  display: flex;
  flex-direction: column;
}
.optionsCon {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.option {
  width: 30%;
  margin-top: 2vw;
  text-align: center;
  background: blue;
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
  transition: transform 400ms ease;
}
.option p {
  padding: 3vw;
  cursor: pointer;
}
.option:hover {
  background: rgb(30, 30, 247);
}
.techCon {
  width: 50%;
  margin: 0 auto;
  margin-top: 2vw;
  background: blue;
}
.techCon p {
  font-size: 1.5vw;
  font-weight: 600;
  color: white;

}